

div{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;

}
.heading{
  color: #F69B8A;
  background-color:#FFE7C8 ;
  border-radius: 15px;
  padding: 20px;
}
